<hn-loading-spinner *ngIf="showSpinner"></hn-loading-spinner>

<table class="table table-hover table-striped" *ngIf="showTable">
    <tbody>
      <tr *ngFor="let story of topStories; let i = index">
        <td class="align-middle" *ngIf="story.title">{{(page-1)*pageSize+i+1}}.</td>
        <td *ngIf="story.title">
          <a class="title" href={{story.url}} target="_blank">{{story.title}}</a><br>
          <span class="description">Author: {{story.by}} - <a [routerLink]="['/stories/', story.id]">Comments: {{story.descendants}}</a> - Score: {{story.score}}</span>
        </td>
      </tr>
    </tbody>
  </table>

<ngb-pagination class="d-flex justify-content-center" size="sm" [collectionSize]="topStoriesIDs.length" [(pageSize)]="pageSize"  [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="changePage($event)"></ngb-pagination>
