a{
    color: black;
}
a:hover{
    cursor: pointer;
    color: #007bff;
}

@media screen and (max-width: 1024px){
    .description{
        font-size: .8em;
    }
    .title{
        font-size: .9em;
    }
}