<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: #fff">Hacker News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/stories']">Top Stories</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
