div.child{
    width: 90%;
    margin: 2% 2% 3% 7%;
}

div.info-container{
    background: rgb(255,235,205);
    color: #444;
    font-size: 12px;
}

div.info-container > p{
    margin: 0;
    padding: 2px;
}

div.info-container > p > span{
    font-weight: bold;
}

div.info-container > p > span:hover{
    cursor: pointer;
}

.toggle-container ::ng-deep a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

@media screen and (max-width: 1024px){
    *{
        padding: 0;
    }
    div.child{
        width: 94%;
        margin: 6% 0 3% 2%;
    }
}