<div class="row child" *ngFor="let childComment of childComments">
  <div class="col-12" *ngIf="childComment.text !== ''">
    <div class="info-container">
      <p>
        by {{childComment.by}} {{childComment.timeAgo}}
        <span *ngIf="childComment.toggle" (click)="toggle(childComment)" style="font-weight: bold">[-]</span>
        <span *ngIf="!childComment.toggle" (click)="toggle(childComment)" style="font-weight: bold">[+]</span>
      </p>
    </div>
    <div class="toggle-container" *ngIf="childComment.toggle">
      <p [innerHtml]="childComment.text"></p>
      <hn-comment [comment]="childComment"></hn-comment>
    </div>
  </div>
</div>