div.points{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a.points{
    text-align: center;
    display: block;
    border: 1px solid #444;
}
a.points:first-child{
    border-bottom: none;
    padding: 5px 5px 10px 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
a.points:last-child{
    background: #444;
    color: #f0f0f0;
    font-size: .75em;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

div.parent{
    padding: 2%;
    width: 90%;
    margin: 0 auto;
    background: #f0f0f0;
    font-size: 14px;
}

div.parent a{
    text-decoration: underline;
}

div.parent a:hover{
    color: rgba(0, 123, 255, 0.4); 
}

div.info-container{
    background: rgb(255,235,205);
    color: #444;
    font-size: 12px;
}

div.info-container > p{
    margin: 0;
    padding: 2px;
}

div.info-container > p > span{
    font-weight: bold;
}

div.info-container > p > span:hover{
    cursor: pointer;
}

.toggle-container ::ng-deep a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.title{
    font-size: 1.2em;
    color: #444;
}

.title:hover{
    color: #007bff;
}

@media screen and (max-width:1024px){
    div.parent{
        width: 100%;
        margin: 0;
    }
}