<div class="row" style="padding: 10px;">
  <div class="col-2">
    <div class="points">
      <a class="points">{{story?.score}}</a>
      <a class="points">POINTS</a>
    </div>
  </div>
  <div class="col-10">
    <a href="{{story?.url}}" target="_blank" class="title">{{story?.title}}</a>
    <p>by {{story?.by}} {{story?.timeAgo}} - {{story?.descendants}} comments </p>
  </div>
</div>

<hn-loading-spinner *ngIf="showSpinner"></hn-loading-spinner>
<div class="row parent" *ngFor="let comment of comments">
  <div class="col-12" *ngIf="showComments">
    <div class="info-container">
      <p>
        by {{comment.by}} {{comment.timeAgo}}
        <span *ngIf="comment.toggle" (click)="toggle(comment)" style="font-weight: bold">[-]</span>
        <span *ngIf="!comment.toggle" (click)="toggle(comment)" style="font-weight: bold">[+]</span>
      </p>
    </div>
    <div class="toggle-container" *ngIf="comment.toggle">
      <p [innerHTML]="comment.text"></p>
      <hn-comment [comment]="comment"></hn-comment>
    </div>
  </div>
</div>